@import "@fontsource/poppins/200.css";
@import "@fontsource/poppins/400.css";
@import "@fontsource/poppins/700.css";
@import "./_colors.scss";

body {
	padding: 0;
	margin: 0;
	color: white;

	font-family: 'Poppins', sans-serif;
	font-size: 18px;

	background-image: url("../images/background.webp");
	background-blend-mode: overlay;
	background-repeat: repeat;
	background-attachment: fixed;
	background-position-x: center;
	background-position-y: bottom;
	image-rendering: smooth;

	display: flex;
	justify-content: center;

	main {
		display: flex;
		flex-direction: column;

		width: 70vw;
		height: 100%;
		min-height: 100vh;
		padding: 0 16ch 1em;

		background-color: rgba($purple, 0.85);

		@media (max-width: $medium) {
			width: 100%;
			padding: 0 2ch 5em;
		}

		img {
			align-self: center;
			max-width: 100%;
			height: auto;
		}
	}
}

a {
	color: $gold;
}

em {
	color: $gold;
	font-weight: 700;
	font-style: normal;
	text-wrap: nowrap;
}

h2 {
	font-size: 36px;
	text-wrap: pretty;
}

.warning {
	color: $red;
}