---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Your Turn to Die en français" description="">
	<p>
		<span translate="no">Your Turn to Die</span> est un visual novel indépendant dévelopé par Nankidai.
		<em>yttd.fr</em> est une initiative communautaire afin de traduire l'intégralité du
		jeu.
	</p>
	<p>
		Assumenda aliquid omnis perferendis repudiandae aut. Voluptatem ipsam
		voluptatem ut. Consectetur voluptatem est magni eos dolores qui repellendus.
		Quidem exercitationem est accusantium voluptas. Ad necessitatibus quis qui
		rerum repellat.
	</p>
</Layout>
