---
import { Image } from "astro:assets";
import Layout from "../layouts/Layout.astro";
import titleClean from "../images/title-clean.webp";
import ProgressBar from "../components/ProgressBar.astro";
import { fetchTranslationPercentage } from "../api";

const translationPercent = await fetchTranslationPercentage();
---

<Layout
	title="Your Turn to Die en français"
	description="Your Turn to Die en français est un projet communautaire visant à traduire le roman visuel écrit par Nankidai."
>
	<Image
		src={titleClean}
		widths={[
			titleClean.width / 8,
			titleClean.width / 4,
			titleClean.width / 2,
			titleClean.width,
		]}
		alt="Écran titre de Your Turn to Die"
	/>
	<div class="translation-progress">
		<span id="translationProgressText">Traduit à <span>{translationPercent}&nbsp;%</span></span>
		<ProgressBar progress={translationPercent} style={{ height: "1em" }} aria-labelledby="translationProgressText" />
	</div>
	<p>
		<em translate="no">Your Turn to Die</em> est un visual novel d'aventure et d'horreur développé par Nankidai.<br>
		<em>yttd.fr</em> est une initiative communautaire afin de traduire l'intégralité du jeu.
	</p>

	<p>
		Il s'agit d'un jeu d'horreur et d'aventure à choix multiples.
		Vos choix affecteront directement l'histoire et la fin que vous obtiendrez !
	<p>

	<p id="warning">
		AVERTISSEMENT : Ce jeu aborde des sujets très sensibles et contient beaucoup de contenu choquant comme le sang, le gore, ou la mort.
	</p>

	<blockquote>
		En rentrant tard chez elle des cours, Sara Chidouin réalise qu'il s'est passé quelque chose de grave.<br>
		À son réveil, elle se trouve piégée avec son ami Joe et 9 autres personnes dans un endroit mystérieux.<br>
		Placés dans des situations de vie ou de mort, ils doivent réussir à se mettre d'accord sur quoi faire...<br>
		et sur qui devrait mourir.<br>
	</blockquote>
</Layout>

<style lang="scss">
	@import "../styles/_colors.scss";

	img {
		margin-top: 2em;
	}

	.translation-progress {
		margin-top: 3em;
		margin-bottom: 3em;
		margin-left: 8em;
		margin-right: 8em;

		@media (max-width: $medium) {
			margin-left: 0.5em;
			margin-right: 0.5em;
		}

		span {
			color: $textMuted;

			span {
				color: $gold;
			}
		}
	}

	blockquote {
		display: block;
		margin: 1em 2em;
		font-style: italic;
		line-height: 1.7em;
	}

	#warning {
		color: red;
	}
</style>
