---
import { Image } from "astro:assets";
import Layout from "../layouts/Layout.astro";
import titleClean from "../images/title-clean.png";
import ProgressBar from "../components/ProgressBar.astro";
import { fetchTranslationPercentage } from "../api";

const translationPercent = await fetchTranslationPercentage();
---

<Layout title="Your Turn to Die en français" description="">
	<Image
		src={titleClean}
		widths={[
			titleClean.width / 8,
			titleClean.width / 4,
			titleClean.width / 2,
			titleClean.width,
		]}
		alt="Écran titre de Your Turn to Die"
	/>
	<div class="translation-progress">
		<span>Traduit a <span>{translationPercent}&nbsp;%</span></span>
		<ProgressBar progress={translationPercent} style={{ height: "1em" }} />
	</div>
	<p>
		<em translate="no">Your Turn to Die</em> est un visual novel indépendant dévelopé
		par Nankidai.
		<em>yttd.fr</em> est une initiative communautaire afin de traduire l'intégralité
		du jeu.
	</p>
	<p>
		Assumenda aliquid omnis perferendis repudiandae aut. Voluptatem ipsam
		voluptatem ut. Consectetur voluptatem est magni eos dolores qui repellendus.
		Quidem exercitationem est accusantium voluptas. Ad necessitatibus quis qui
		rerum repellat.
	</p>
</Layout>

<style lang="scss">
	@import "../styles/_colors.scss";

	img {
		margin-top: 2em;
	}

	.translation-progress {
		margin-top: 3em;
		margin-bottom: 3em;
		margin-left: 8em;
		margin-right: 8em;

		span {
			color: $textMuted;

			span {
				color: $gold;
			}
		}
	}
</style>
