---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Jouer à Your Turn to Die en français" description="">
	<div>
		<iframe src="https://nadekooo.github.io/YTTDFR/" allow="autoplay fullscreen" allowfullscreen="true" width="816" height="624">
		</iframe>
	</div>
</Layout>

<style lang="scss">
	div {
		width: 100%;
		display: flex;
		justify-content: center;

		iframe {
			position: relative;
			margin-top: 4em;
			border: 0;
		}
	}
</style>
