---
import "../styles/navbar.scss";
---

<nav>
	<ol>
		<li><a href="/">Accueil</a></li>
		<li><a href="/jouer">Jouer</a></li>
		<li><a href="/contribuer">Contribuer</a></li>
		<li><a href="/apropos">À propos</a></li>
	</ol>
</nav>
