---
import BaseLayout from "./BaseLayout.astro";
import "../styles/main.scss";
import Navbar from "../components/Navbar.astro";

const { title, description, activeNav } = Astro.props;
---

<BaseLayout {title} {description}>
	<main>
		<Navbar {activeNav} />
		<slot />
	</main>
</BaseLayout>
